/* vietnamese */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v6/NUrn2XQrRfyGZp5MknntaRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v6/s2PXW4WrV3VLrOUpHiqsfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v6/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none
}

mark {
  background-color: transparent;
  color: inherit
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.0;
  word-wrap: break-word;
  overflow-x: hidden;
  /*#54504d #363657  319ACC  4C8099  090909*/
  background-color: #090909;
}

strong {
  color: inherit;
  font-weight: bolder;
}

em {
  font-style: italic;
}

code {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: normal;
  text-indent: 0;
  letter-spacing: 0;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  background-color: rgba(144, 144, 144, 0.25);
  border-radius: 0.25em;
}

mark {
  background-color: rgba(144, 144, 144, 0.25);
}

a {
  -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  color: inherit;
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

html {
  font-size: 18pt;
}

#wrapper {
  -webkit-overflow-scrolling: touch;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

#main {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 1;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  -moz-transition: opacity 1s ease-in-out 0s;
  -webkit-transition: opacity 1s ease-in-out 0s;
  -ms-transition: opacity 1s ease-in-out 0s;
  transition: opacity 1s ease-in-out 0s;
}

#main>.inner {
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  padding: 2.5rem 2rem;
  max-width: 100%;
  width: 48rem;
}

#main>.inner>.flush {
  margin-left: calc(-2rem - 1px);
  width: calc(100% + 4rem + 2px);
  max-width: calc(100% + 4rem + 2px);
}

#main>.inner>.flush:first-child {
  margin-top: -2.5rem !important;
}

#main>.inner>.flush:last-child {
  margin-bottom: -2.5rem !important;
}

#main>.inner>*>.flush {
  margin-left: calc(-2rem - 1px);
  width: calc(100% + 4rem + 2px);
  max-width: calc(100% + 4rem + 2px);
}

#main>.inner>header>.flush:first-child {
  margin-top: -2.5rem !important;
}

#main>.inner>footer>.flush:last-child {
  margin-bottom: -2.5rem !important;
}

#main>.inner>.active>.flush:first-child {
  margin-top: -2.5rem !important;
}

#main>.inner>.active>.flush:last-child {
  margin-bottom: -2.5rem !important;
}

#main>.inner>header {
  margin-bottom: 1.5rem;
}

#main>.inner>footer {
  margin-top: 1.5rem;
}

#main>.inner>*>* {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#main>.inner>*> :first-child {
  margin-top: 0 !important;
}

#main>.inner>*> :last-child {
  margin-bottom: 0 !important;
}

body.is-loading #main {
  opacity: 0;
}

#main>.inner>section {
  -moz-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
  transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
}

#main>.inner>section.inactive {
  -moz-transition: opacity 0.375s ease-in-out;
  -webkit-transition: opacity 0.375s ease-in-out;
  -ms-transition: opacity 0.375s ease-in-out;
  transition: opacity 0.375s ease-in-out;
  opacity: 0;
}

@-moz-keyframes deferred-spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes deferred-spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes deferred-spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes deferred-spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.deferred:before {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2rem 0 0 -2rem;
  -moz-animation: deferred-spinner 1s infinite linear;
  -webkit-animation: deferred-spinner 1s infinite linear;
  -ms-animation: deferred-spinner 1s infinite linear;
  animation: deferred-spinner 1s infinite linear;
  transition: opacity 0.25s ease;
  transition-delay: 0.5s;
  opacity: 0;
  z-index: -1;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
}

.deferred.loading:before {
  opacity: 0.25;
  z-index: 0;
}

.image {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  display: block;
}

#main .image:first-child {
  padding-top: 0;
}

#main .image:last-child {
  padding-bottom: 0;
}

.image a, .image span {
  position: relative;
  max-width: 100%;
  display: inline-block;
  border-radius: 100%;
}

.image a img, .image span img {
  display: block;
}

.image img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  width: 8rem;
  border-radius: 100%;
}

.image.flush img {
  display: block;
}

.image.flush a, .image.flush span {
  display: block;
}

h1 br+br, h2 br+br, h3 br+br, p br+br {
  display: block;
  content: ' ';
  margin-top: 0.825rem;
}

h1 .li, h2 .li, h3 .li, p .li {
  display: list-item;
  padding-left: 0.5em;
  margin: 0.75em 0 0 1em;
}

#text01 {
  font-size: 2.5em;
}

#text04 br+br {
  margin-top: 0.975rem;
}

#text04 {
  color: #FFFFFF;
  line-height: 1.625;
  text-transform: none;
  letter-spacing: 0;
  width: auto;
}

#text05 {
  font-size: 1.5em;
}

#text02 br+br {
  margin-top: 0.975rem;
}

#text02 {
  color: #FFFFFF;
  line-height: 1.625;
  text-transform: none;
  letter-spacing: 0;
  width: auto;
}

#text07 {
  font-size: 1.5em;
}

#text08 br+br {
  margin-top: 0.975rem;
}

#text08 {
  color: #FFFFFF;
  line-height: 1.625;
  text-transform: none;
  letter-spacing: 0;
  width: auto;
}

#text03 {
  font-size: 1.5em;
}

#text06 br+br {
  margin-top: 0.975rem;
}

#text06 {
  color: #FFFFFF;
  line-height: 1.625;
  text-transform: none;
  letter-spacing: 0;
  width: auto;
}

h1, h2, h3, p {
  text-transform: uppercase;
  color: #00FFC8;
  font-family: 'Quicksand';
  letter-spacing: 0.325rem;
  width: calc(100% + 0.325rem);
  font-size: 1em;
  line-height: 1.375;
  font-weight: 400;
}

.gallery .inner {
  display: inline-block;
  max-width: 100%;
  max-width: 100rem;
}

.gallery ul li {
  display: inline-block;
  margin: 0.5rem;
}

.gallery ul li a, .gallery ul li span {
  display: inline-block;
  position: relative;
  border-radius: 0.125rem;
}

.gallery ul li img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin: 0;
  vertical-align: top;
  height: auto;
  max-height: 8.375rem;
  border-radius: 0.125rem;
}

@-moz-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 0.85);
  visibility: none;
  opacity: 0;
  -moz-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
  -ms-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
  transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
  z-index: 0;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gallery-modal:before {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2rem 0 0 -2rem;
  -moz-animation: gallery-modal-spinner 1s infinite linear;
  -webkit-animation: gallery-modal-spinner 1s infinite linear;
  -ms-animation: gallery-modal-spinner 1s infinite linear;
  animation: gallery-modal-spinner 1s infinite linear;
  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem;
}

.gallery-modal:after {
  content: '';
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 4rem;
  height: 4rem;
  display: block;
  cursor: pointer;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNmZmY7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjAiIHkxPSIyMCIgeDI9IjQ0IiB5Mj0iNDQiIC8+PGxpbmUgeDE9IjIwIiB5MT0iNDQiIHgyPSI0NCIgeTI9IjIwIiAvPjwvc3ZnPg==');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
}

.gallery-modal .inner {
  opacity: 0;
  transform: translateY(0.75em);
  transition: all 0.5s ease;
}

.gallery-modal .inner img {
  display: block;
  max-width: 85vw;
  max-height: 85vh;
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.35);
}

.gallery-modal.visible {
  visibility: visible;
  opacity: 1;
  z-index: 10000;
  -moz-pointer-events: auto;
  -webkit-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
}

.gallery-modal.visible:before {
  opacity: 1;
}

.gallery-modal.loaded:before {
  opacity: 0;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.gallery-modal.loaded .inner {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.gallery ul {
  padding: 0.7328125rem 0;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
}

.icons {
  cursor: default;
  padding: 0;
  letter-spacing: 0;
  font-size: 1.5em;
  width: calc(100% + 1.5rem);
  margin-left: -0.75rem;
}

.icons li {
  display: inline-block;
  vertical-align: middle;
  margin: 0.75rem;
}

.icons li a {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}

.icons li a svg {
  display: block;
  -moz-transition: fill 0.25s ease;
  -webkit-transition: fill 0.25s ease;
  -ms-transition: fill 0.25s ease;
  transition: fill 0.25s ease;
}

.icons li a .label {
  display: none;
}


/*Social network icons*/

#icons01 li a svg {
  width: 100%;
  height: 100%;
}

#icons01 .n01 svg {
  fill: #00FFC8;
}

#icons01 .n02 svg {
  fill: #00FFC8;
}

#icons01 .n03 svg {
  fill: #00FFC8;
}

#icons01 .n04 svg {
  fill: #00FFC8;
}

#icons01 .n05 svg {
  fill: #00FFC8;
}

hr {
  width: 100%;
  position: relative;
  padding: 0;
  border: 0;
  height: 1rem;
  line-height: 1rem;
}

hr:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  background-color: rgba(255, 255, 255, 0.169);
  height: 1px;
}

.buttons {
  cursor: default;
  padding: 0;
  letter-spacing: 0;
}

.buttons li a {
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  max-width: 100%;
}

#buttons01 {
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
}

#buttons01 li {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 1rem);
  margin: 0.5rem;
}

#buttons01 li a {
  display: block;
  width: 8.125rem;
  height: 2.625rem;
  line-height: 2.625rem;
  padding: 0 1.3125rem;
  text-transform: uppercase;
  font-size: 0.625em;
  font-family: 'Quicksand';
  letter-spacing: 0.225rem;
  padding-left: calc(0.225rem + 1.3125rem);
  font-weight: 400;
  border-radius: 0.375rem;
}

#buttons01 .n01 {
  color: #FFFFFF;
  border: solid 1px rgba(255, 255, 255, 0.169);
}

#buttons01 .n01:hover {
  /*E44829  FF5540  ED3232  #FF4500  00FFC8*/
  color: #00FFC8;
  border-color: #00FFC8;
}

#buttons01 .n02 {
  color: #FFFFFF;
  border: solid 1px rgba(255, 255, 255, 0.169);
}

#buttons01 .n02:hover {
  color: #00FFC8;
  border-color: #00FFC8;
}

#buttons01 .n03 {
  color: #FFFFFF;
  border: solid 1px rgba(255, 255, 255, 0.169);
}

#buttons01 .n03:hover {
  color: #00FFC8;
  border-color: #00FFC8;
}

#buttons01 .n04 {
  color: #FFFFFF;
  border: solid 1px rgba(255, 255, 255, 0.169);
}

#buttons01 .n04:hover {
  color: #00FFC8;
  border-color: #00FFC8;
}

@media (max-width: 1680px) {
  html {
    font-size: 13pt;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 13pt;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 11pt;
  }
}

@media (max-width: 736px) {
  html {
    font-size: 11pt;
  }
  #main>.inner {
    padding: 2.5rem 2rem;
  }
  #main>.inner>.flush {
    margin-left: calc(-2rem - 1px);
    width: calc(100% + 4rem + 2px);
    max-width: calc(100% + 4rem + 2px);
  }
  #main>.inner>.flush:first-child {
    margin-top: -2.5rem !important;
  }
  #main>.inner>.flush:last-child {
    margin-bottom: -2.5rem !important;
  }
  #main>.inner>*>.flush {
    margin-left: calc(-2rem - 1px);
    width: calc(100% + 4rem + 2px);
    max-width: calc(100% + 4rem + 2px);
  }
  #main>.inner>header>.flush:first-child {
    margin-top: -2.5rem !important;
  }
  #main>.inner>footer>.flush:last-child {
    margin-bottom: -2.5rem !important;
  }
  #main>.inner>.active>.flush:first-child {
    margin-top: -2.5rem !important;
  }
  #main>.inner>.active>.flush:last-child {
    margin-bottom: -2.5rem !important;
  }
  #image01 {
    padding: rem 0;
  }
  #divider01 {
    height: 1rem;
    line-height: 1rem;
  }
}

@media (max-width: 480px) {
  .gallery-modal .inner img {
    max-width: 100vw;
  }
  #gallery01 .inner {
    max-width: 100%;
  }
  #gallery01 ul {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  #gallery01 ul li {
    margin: 0.5rem 0;
    width: 100%;
  }
  #gallery01 ul li img {
    max-height: none;
    width: 100%;
  }
  #buttons01 li a {
    width: 8.125rem;
  }
}

@media (max-width: 360px) {
  #main>.inner {
    padding: 1.875rem 1.5rem;
  }
  #main>.inner>.flush {
    margin-left: calc(-1.5rem - 1px);
    width: calc(100% + 3rem + 2px);
    max-width: calc(100% + 3rem + 2px);
  }
  #main>.inner>.flush:first-child {
    margin-top: -1.875rem !important;
  }
  #main>.inner>.flush:last-child {
    margin-bottom: -1.875rem !important;
  }
  #main>.inner>*>.flush {
    margin-left: calc(-1.5rem - 1px);
    width: calc(100% + 3rem + 2px);
    max-width: calc(100% + 3rem + 2px);
  }
  #main>.inner>header>.flush:first-child {
    margin-top: -1.875rem !important;
  }
  #main>.inner>footer>.flush:last-child {
    margin-bottom: -1.875rem !important;
  }
  #main>.inner>.active>.flush:first-child {
    margin-top: -1.875rem !important;
  }
  #main>.inner>.active>.flush:last-child {
    margin-bottom: -1.875rem !important;
  }
  #text01 {
    font-size: 2em;
  }
  #gallery01 ul {
    width: calc(100% + 0.75rem);
    margin-left: -0.375rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  #gallery01 ul li {
    margin: 0.375rem;
    margin: 0.5rem 0;
    width: 100%;
  }
  #gallery01 .inner {
    max-width: 100%;
  }
  #icons01 {
    width: calc(100% + 1.125rem);
    margin-left: -0.5625rem;
  }
  #icons01 li {
    margin: 0.5625rem;
  }
  #buttons01 {
    width: calc(100% + 0.75rem);
    margin-left: -0.375rem;
  }
  #buttons01 li {
    max-width: calc(100% - 0.75rem);
    margin: 0.375rem;
  }
}
